/* Reset some default styles */

body,
h2,
p {
    margin: 0;
    padding: 0;
}


/* Apply the blackish-red gradient background */

body {
    background: linear-gradient(to bottom right, #FF0000, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}


/* Style the login container */

.login-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}


/* Style the logo */

.logo img {
    max-width: 100px;
    margin: 0 auto;
    display: block;
}


/* Style the login form */

.login-form h2 {
    margin-bottom: 20px;
}

.login-form form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 33px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    background: #FF0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-form button:hover {
    background: #990000;
}

.login-form p a {
    color: #FF0000;
    text-decoration: none;
}

.login-form p a:hover {
    text-decoration: underline;
}